
<nav
  class="navbar navbar-expand-lg bg-body-tertiary sticky j"
  data-bs-theme="dark"
>
  <div class="container">
    <a class="navbar-brand" href="#">
      SimpleDating
    </a>

    <button
      class="navbar-toggler "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarTogglerDemo02"
    >
      @if(accService.currentUser()){
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Messages</a>
        </li>
      </ul>
      }
      @else if(!accService.currentUser()){
        <form
        #loginForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex m-2"
      >
        <input
          name="username"
          [(ngModel)]="loginModel.username"
          class="form-control me-sm-2 g-5"
          placeholder="Username"
        />
        <input
          name="username"
          [(ngModel)]="loginModel.password"
          class="form-control me-sm-2"
          placeholder="Password"
          type="password"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >
          Login
        </button>
      </form>
      }
      @if(accService.currentUser()){
      <div dropdown class="dropdown me-2">
        <a dropdownToggle class="dropdown-toggle text-light">Welcome <span
            class="username">{{accService.currentUser()?.username}}</span></a>
        <div *dropdownMenu class="dropdown-menu">
          <a href="#" class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      }
      </div>
      </div>
</nav>
<div
  class="collapse"
  id="navbarToggleExternalContent"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="errorMessage() != ''" class="alert alert-danger d-flex align-items-center" role="alert"
    style="height: 4rem;">
    <svg class="bi flex-shrink-0 inherit" role="img" aria-label="Danger:" style="height: 2rem;">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div class="flex-grow-1">
      {{ errorMessage() }}
      </div>
    <button type="button" class="btn-close btn-sm" (click)="clearErrorMessage()" aria-label="Close"></button>
    </div>
<div *ngIf="accService.currentUser()" class="alert alert-success alert-dismissible d-flex align-items-center p-3"
  role="alert" style="font-size: 0.9rem;">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width: 1rem; height: 1rem;">
    <use xlink:href="#check-circle-fill" />
  </svg>
  <div>
    Ви успішно увійшли в систему
  </div>
    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
