<div>
  <button class="btn btn-outline-primary me-2" (click)="get400Error()">400</button>
  <button class="btn btn-outline-primary me-2" (click)="get401Error()">401</button>
  <button class="btn btn-outline-primary me-2" (click)="get404Error()">400</button>
  <button class="btn btn-outline-primary me-2" (click)="get500Error()">500</button>
  <button class="btn btn-outline-primary me-2" (click)="get400ValidError()">400 valid</button>

  @if(validationErrors.length > 0){
    <div class="row mt-5">
      <ul class="text-danger">
      @for (item of validationErrors; track $index) {
        <li>{{item}}</li>
      }
      </ul>
    </div>
  }
</div>
